body {
  text-align: center;
  background-color: #000000;
  color: red;
}

h1 {
  padding-bottom: 30px;
}

img {
  max-width: 100%;
  max-height: 250px;
  display: block;
  width: auto;
  margin: auto;
}

h2 {
  text-align: center;
}

.column {
  width: 30%;
  padding: 3px;
  text-align: left;
  float: left;
  display: inline-block;
  padding-bottom: 50px;
}

.credit {
  display: inline-block;
}
 .hidden {
display: none;
 }
