body {
  text-align: center;
  background-color: #000000;
  color: darkred;
}

h1 {
  padding-bottom: 30px;
}

img {
  max-width: 100%;
  max-height: 250px;
  display: block;
  width: auto;
  margin: auto;
}

h2 {
  text-align: center;
}

.column {
  width: 30%;
  padding: 3px;
  text-align: left;
  float: left;
  display: inline-block;
  padding-bottom: 50px;
}

.credit {
  display: inline-block;
}
<<<<<<< HEAD
 /*.hidden {
display: none;
 }*/
=======

#newsletterForm {
  text-align: left;
  width: 300px;
  margin: auto;
}
>>>>>>> 23ef1e379f01af98ea1a85dbdae3ec46c7cf6c0b
